<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About 21 Savage</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Who is 21 Savage?</h1>
    <p>Shéyaa Bin Abraham-Joseph (born October 22, 1992), known professionally as 21 Savage, is a rapper based in Atlanta, Georgia, United States. </p>
    <h1>Early Life</h1>
    <p>Shéyaa Bin Abraham-Joseph was born on October 22, 1992, at Newham University Hospital in the Plaistow area of London, the son of Heather Carmillia Joseph and Kevin Cornelius Emmons. His parents are both British nationals with Caribbean origins; his mother's family is from Dominica, and his father's is from Saint Vincent and the Grenadines, while his paternal grandfather was Haitian. His father and twin sisters, dance choreographers Kyra and Jayda Davis, continue to live in London, where his father works for Westminster City Council.</p>
    <h1>Musical Style</h1>
    <p>Called "one of the last real street n**** left making music" by frequent collaborator Metro Boomin, 21 Savage's music is heavily autobiographic with an emphasis on violent and criminal aspects of his past, including murder and drug dealing. Vocally, he is known for his "trademark villainous monotone drawl".His musical style is influenced by Three 6 Mafia.</p>
    <br></br>
    <a href="/home">Back to Home</a>
    <br></br>
    <a href="/works">21 Savage's works</a>
    <br></br>
    <a href="/photos">Photos of 21 Savage</a>
  </body>
</html>
