<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Photos</title>
    <link rel="stylesheet" href="/style.css" />
    <a href="/home">Back to Home</a> 
    <br></br>
    <a href="/about">See About Page</a>
    <br></br>
    <a href="/works">21 Savage's works</a>
    
  </head>
  <body>
    <h1>21 Savage</h1>
    <p>This is a photo of 21 Savage</p>
    <img src="/images/21savage.jpeg" />

    <h1>21 Savage Logo</h1>
    <p>This is 21 Savage's Logo</p>
    <img src="/images/21savagelogo.png" />

    <h1>21 Savage Album Cover</h1>
    <p>This is one of 21 Savage's album Cover</p>
    <img src="/images/21savagealbum.jpeg" />

    <h1>21 Savage Fan Art</h1>
    <p>This is fan art of 21 Savage</p>
    <img src="/images/21savageart.jpeg" />

    
  </body>
</html>
