<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>21 Savage's Works</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Song: Bank Account</h1>
    <h2>Lyrics</h2>
    <p>
      I might pull up in a Ghost, no Casper (21)
      <br></br>
      I been smoking gas and I got no asthma
    </p>

    <h1>Song: X</h1>
    <h2>Lyrics</h2>
    <p>
      Ten bad bitches in a mansion 
      <br></br>
      Wrist on Milly Rock, them diamonds on me
      <br></br>
      dancin' When you workin' hard, then your money start expandin'
    </p>

    <h1>Song: 10 Freaky Girls</h1>
    <h2>Lyrics</h2>
    <p>
      In Bikini Bottom, I’m with Sandy (Sandy) 
      <br></br>
      Moesha keep on drinkin' all the brandy (Brandy) 
      <br></br>
      Keisha eat the molly like it's candy (Yah, yah) 
      <br></br>
      Bodyslam a n**** like I'm Randy
    </p>

    <br></br>
    <br></br>
    <a href="/home">Back to Home</a>
    <br></br>
    <a href="/about">See About Page</a>
    <br></br>
    <a href="/photos">Photos of 21 Savage</a>
  </body>
</html>
