body {
    color: red;
    background-color: black;
}

h1 {
    font-size: 50px;
    color:red;
    background-color: black;
}

h2 {
    font-size: 40px;
    color:gold;
    background-color: black;
}

p {
    font-size: 30px;
    color: gold;
    background-color: black;
}

a {
    background-color: black;
    color:gold;
    font-size: 30px;
}

img{
    background-color: black;
    width: 20%;
    height: auto;
}